<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>anime.js prototype</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://codepen.io/juliangarnier/pen/75efae7724dbc3c055e918057fc4aca5.css'><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="animation-wrapper">
  <div class="layered-animations">

<!-- control shape -->
    <svg class="small shape color-black" viewBox="0 0 1006 1006">
      <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" />
    </svg>

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        


    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>    

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        


    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>        

    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="18" cy="748" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>
    <svg class="small shape color-red" viewBox="0 0 296 296">
      <circle cx="98" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
    </svg>    


  </div>
</div>
<!-- partial -->
  <script src='https://codepen.io/juliangarnier/pen/75efae7724dbc3c055e918057fc4aca5.js'></script>
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>

</body>
</html>
